PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/srikannathal_db
JWT_SECRET=sri_kannathal_homecare_secret_key_2026_jwt_token_secure_98765
JWT_EXPIRES_IN=7d
NODE_ENV=development
CLIENT_URL=http://localhost:5173
